/**/
* {
    font-size: 100px;
}
body {
    background-color: black;
    color: white;
}

header {
    font-size: 2cm;/*2*16pxunidades fijas:px*/
background-color: beige;
color: black;
height: 25px;
border: 2px solid red;
}

.logo {
    border-radius: 10px;
    width: 50%;
}
.img-cointainer {
    padding-top: 15px;
    background-color: aqua;
    /*text-align: center;*/
    /*margin: auto;*/
}
.img-site {
    border-radius: 10px;
    width: 20%;
    
}

/*display :puedo hacer que un elemento
de bloque se comporte como inline y que un elemento se comportre como bloque*/
 
header > nav,a{
    display: inline;
}
a {
    font-size: 1.2cm;
}
a:hover {
    color: blue;
    font-size: 1.3cm;
    cursor: copy;
}

.text-bold {
    text-transform: uppercase;
    font-weight: bold;

}
/*footer*/

footer{
    background-color: aquamarine;

}
.footer-right {
   color: black;
    background-color: blueviolet;
    width: 48%;
    display: inline-block;
    /*convertir algo de bloque
    con la capacidad de asignar ancho y alto*/


}

footer-left {
    color: black;
    background-color: azure;
}
