/*solo codigo css externo*/
h1 {
    color: green;
}

/*SELECTORES*/
/*selector universal*/
 {
    /*font-size: 25px; */ /*todo se va a ver afectado*/
}
body {
    background-color: black; /*color de fondo*/
    color: white;/*color de texto*/
    text-align: center;
}
h2 {
    font: size 35px; /*tamaño de fuente*/
    text-transform: uppercase; /*mayusc*/
    cv_img {
        border-radius: 50%;/*forma de img*/
        width: 20%; /*ancho*/

    }
    /*SELECTORES*/

    #foto {
        background-color: aqua;
        color: black;(1, 37, 37)
    }
    /*selectores de clase*/
    #cv_curso {
        text-transform: capitalize;
        text-align: left;
        font-size: 20px;

    }
    #cv_curso_img{
        width: 20%;
    }
    #cv_curso_img img {
    width: 50%;
}
#cv_curso_info {
    background-color: white;
    color: blue;
    
}
#cv_curso_info h3 {
    font-size: 20px;
}
#cv_curso_info p {
    font-size: 15px;
}