*{

    /*fuente de texto gral*/
    font-family: Courier; 
    /*font-weight: 400;*/
    /*font-size:42px;*/
    margin:0;
    padding:0;
    
}
.menu_pricipal li {
   list-style: none;
   display: inline-block;
/*background-color: grey;*/
}

.menu_pricipal_link  {
    display: inline-block; /*para poder darle tamaño*/ 
    text-transform: uppercase;


}   

.menu_pricipal_link_primero {
    color: white;
    display:

}

.menu_pricipal_link_siguiente {

}
