* {
    color: yellow;    
}

#parrafoId {
    color: green;
}

/*clase parrafo*/
.parrafo {
    color: blue !important;
}

/*selector de tipo*/
p {
    color: red ;
    font-size: 24px;
    font-family: 'Courier New';  
}

/*inline >id >clase > tipo >universal*/
#miSection div p {
    color: blueviolet !important;


}

/*SELECTORES herencia/hijos/hermanos adyacentes/hermnos general*/
section ul,ol {
    list-style: none;
}
section ul,ol {
    text-transform: uppercase;

}

/*hijo*/
.selectorHijo > p{
    font-size : 16px;
}
